<div ng-controller="detailController">
    <div class="row">
        <div class="text_center">
            <div class="detail_top">
                <img src="{{current_user.url}}" class="photo text-center">
            </div>
            <div class="detail_middle text-center">
                <h4>{{current_user.name}}</h4>
                <h5>{{current_user.tag}}</h5>
            </div>
            <div class="detail_buttom text-center">
                <h5>{{current_user.email}}</h5>
                <h5>{{current_user.phone}}</h5>
            </div>
        </div>
    </div>
</div>